{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}


{% block content %}

{% for message in messages%}
<div class ='mesage'>
    {% if message %}
    {% autoescape off %}
    <p>{{message}}</p>
    {% endautoescape %}

    {% endif %}
    </div>
{% endfor %}
    <br>
<div class="wrapper">
      <div class="text-center mt-4 name">182 - SHORTNER</div>
  <form class="p-3 mt-3" method= 'post' style='color:black'>
      {% csrf_token %}
      {{form|crispy}}  
      <br>
      <br> 
      <button class="btn mt-3">SHORT MY URL</button>
  </form>
</div>

{% endblock content %}